:root{
    --link-color: rgb(30, 30, 113);
    --link-color-hover: rgb(160, 101, 101);
}

*{
    font-family: monospace;
}
h1{
    font-size:3rem;
    position:relative;
    left:5%
}
h2{
    position: relative;
    left:5%
}
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: white;
  }

nav ul li {
    list-style-type: none;
    font-size: 2rem;
}
nav a {
    color:var(--link-color);
}
nav a:hover{
    color:var(--link-color-hover);
}

#box{
    animation: 3s ease-in 1s infinite reverse both running;
}

#sidebar {
    position: sticky;
    top: 30%;
    /* right: 50%; */
    width: 22rem;
    left: 80%;

}
#sidebar ul{
    display:flex;
    flex-direction: column-reverse;
    left:0%;
}


#sidebar ul li {
    list-style-type: none;
    font-size: 2rem;
    border:0.1rem rgb(70, 128, 141) solid;


}
#sidebar ul li a {
    text-decoration: none;
}


main {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
}
